In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
dataset = pd.read_csv(r"C:\Users\Toshiba\Desktop\WHO.csv")
dataset.head(20)

          date     location  new_cases  new_deaths  total_cases  total_deaths
0   2020-02-25  Afghanistan        NaN         NaN            1           NaN
1   2020-02-26  Afghanistan        0.0         NaN            1           NaN
2   2020-02-27  Afghanistan        0.0         NaN            1           NaN
3   2020-02-28  Afghanistan        0.0         NaN            1           NaN
4   2020-02-29  Afghanistan        0.0         NaN            1           NaN
5   2020-03-01  Afghanistan        0.0         NaN            1           NaN
6   2020-03-02  Afghanistan        0.0         NaN            1           NaN
7   2020-03-03  Afghanistan        0.0         NaN            1           NaN
8   2020-03-04  Afghanistan        0.0         NaN            1           NaN
9   2020-03-05  Afghanistan        0.0         NaN            1           NaN
10  2020-03-06  Afghanistan        0.0         NaN            1           NaN
11  2020-03-07  Afghanistan        0.0         NaN            1           NaN
12  2020-03-08  Afghanistan        3.0         NaN            4           NaN
13  2020-03-09  Afghanistan        0.0         NaN            4           NaN
14  2020-03-10  Afghanistan        0.0         NaN            4           NaN
15  2020-03-11  Afghanistan        0.0         NaN            4           NaN
16  2020-03-12  Afghanistan        3.0         NaN            7           NaN
17  2020-03-13  Afghanistan        0.0         NaN            7           NaN
18  2020-03-14  Afghanistan        0.0         NaN            7           NaN
19  2020-03-15  Afghanistan        3.0         NaN           10           NaN

In [24]:
df = dataset
df['day'] = pd.DatetimeIndex(df['date']).day
data = df.drop(['date'], axis = 1)
data.head(20)

       location  new_cases  new_deaths  total_cases  total_deaths  day
0   Afghanistan        NaN         NaN            1           NaN   25
1   Afghanistan        0.0         NaN            1           NaN   26
2   Afghanistan        0.0         NaN            1           NaN   27
3   Afghanistan        0.0         NaN            1           NaN   28
4   Afghanistan        0.0         NaN            1           NaN   29
5   Afghanistan        0.0         NaN            1           NaN    1
6   Afghanistan        0.0         NaN            1           NaN    2
7   Afghanistan        0.0         NaN            1           NaN    3
8   Afghanistan        0.0         NaN            1           NaN    4
9   Afghanistan        0.0         NaN            1           NaN    5
10  Afghanistan        0.0         NaN            1           NaN    6
11  Afghanistan        0.0         NaN            1           NaN    7
12  Afghanistan        3.0         NaN            4           NaN    8
13  Afghanistan        0.0         NaN            4           NaN    9
14  Afghanistan        0.0         NaN            4           NaN   10
15  Afghanistan        0.0         NaN            4           NaN   11
16  Afghanistan        3.0         NaN            7           NaN   12
17  Afghanistan        0.0         NaN            7           NaN   13
18  Afghanistan        0.0         NaN            7           NaN   14
19  Afghanistan        3.0         NaN           10           NaN   15

In [36]:
data.new_deaths = data.new_deaths.fillna((data.new_deaths.shift() + data.new_deaths.shift(-1))/2)
data.new_cases = data.new_cases.fillna((data.new_cases.shift() + data.new_cases.shift(-1))/2)
data.total_cases = data.total_cases.fillna((data.total_cases.shift() + data.total_cases.shift(-1))/2)
data.total_deaths = data.total_deaths.fillna((data.total_deaths.shift() + data.total_deaths.shift(-1))/2)

In [44]:
data.head(60)

       location  new_cases  new_deaths  total_cases  total_deaths  day
0   Afghanistan        NaN         NaN            1           NaN   25
1   Afghanistan        0.0         NaN            1           NaN   26
2   Afghanistan        0.0         NaN            1           NaN   27
3   Afghanistan        0.0         NaN            1           NaN   28
4   Afghanistan        0.0         NaN            1           NaN   29
5   Afghanistan        0.0         NaN            1           NaN    1
6   Afghanistan        0.0         NaN            1           NaN    2
7   Afghanistan        0.0         NaN            1           NaN    3
8   Afghanistan        0.0         NaN            1           NaN    4
9   Afghanistan        0.0         NaN            1           NaN    5
10  Afghanistan        0.0         NaN            1           NaN    6
11  Afghanistan        0.0         NaN            1           NaN    7
12  Afghanistan        3.0         NaN            4           NaN    8
13  Afghanistan        0.0         NaN            4           NaN    9
14  Afghanistan        0.0         NaN            4           NaN   10
15  Afghanistan        0.0         NaN            4           NaN   11
16  Afghanistan        3.0         NaN            7           NaN   12
17  Afghanistan        0.0         NaN            7           NaN   13
18  Afghanistan        0.0         NaN            7           NaN   14
19  Afghanistan        3.0         NaN           10           NaN   15
20  Afghanistan        6.0         NaN           16           NaN   16
21  Afghanistan        5.0         NaN           21           NaN   17
22      Albania        2.5         NaN            2           NaN    9
23      Albania        0.0         NaN            2           NaN   10
24      Albania        8.0         NaN           10           NaN   11
25      Albania        0.0         NaN           10           NaN   12
26      Albania       13.0         NaN           23           NaN   13
27      Albania       10.0         NaN           33           1.0   14
28      Albania        5.0         0.0           38           1.0   15
29      Albania        4.0         0.0           42           1.0   16
30      Albania        9.0         0.0           51           1.0   17
31      Algeria        4.5         NaN            1           NaN   26
32      Algeria        0.0         NaN            1           NaN   27
33      Algeria        0.0         NaN            1           NaN   28
34      Algeria        0.0         NaN            1           NaN   29
35      Algeria        0.0         NaN            1           NaN    1
36      Algeria        0.0         NaN            1           NaN    2
37      Algeria        4.0         NaN            5           NaN    3
38      Algeria        0.0         NaN            5           NaN    4
39      Algeria        7.0         NaN           12           NaN    5
40      Algeria        0.0         NaN           12           NaN    6
41      Algeria        5.0         NaN           17           NaN    7
42      Algeria        0.0         NaN           17           NaN    8
43      Algeria        3.0         NaN           20           NaN    9
44      Algeria        0.0         NaN           20           NaN   10
45      Algeria        0.0         NaN           20           NaN   11
46      Algeria        5.0         NaN           25           1.0   12
47      Algeria        0.0         0.0           25           1.0   13
48      Algeria        1.0         1.0           26           2.0   14
49      Algeria       11.0         1.0           37           3.0   15
50      Algeria       12.0         0.0           49           3.0   16
51      Algeria       11.0         1.0           60           4.0   17
52      Andorra        5.5         NaN            1           NaN    3
53      Andorra        0.0         NaN            1           NaN    4
54      Andorra        0.0         NaN            1           NaN    5
55      Andorra        0.0         NaN            1           NaN    6
56      Andorra        0.0         NaN            1           NaN    7
57      Andorra        0.0         NaN            1           NaN    8
58      Andorra        0.0         NaN            1           NaN    9
59      Andorra        0.0         NaN            1           NaN   10

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 'new_cases'].values